<h2>About Azura</h2><br/>
<a href="Azura.nar" download="Azura.nar">Azura's download link</a>
<h3>Who is Azura ?</h3>
<div class="block">
  <div>
	  <p>Azura's concept is : what if the player was able to transfer their own soul into the game Undertale ?<br>
      So Azura is Levidre if she transfered her soul into Undertale. But a player's soul has more determination than a normal human, too much determination.<br>
      Azura stocks this determination in plus in two wings and a tail. Her dream being flying, the determination stocked as magie gave this form to her new magic members.
    </p>
    <p>She has a comic, Azurtale, telling her story. It's published on my tumblr in both english and french, with a <a href="https://azura-levidre.tumblr.com/azurtale">list of all the pages</a>.</p>

	</div>
	<img class = "img" src="/assets/pictures/Azura.png" alt="It's a picture of Azura" title="Azura" height="275px" width="275px" />
</div>
<h3>Azura as ukagaka</h3><br/>
<div>
	<p>After her journey in Undetale, people can summon Azura as a ghost to spend some time with her, to ask her some questions and to develope a relationship depending on their actions.</p>
	<p>The ghost form of Azura is independant of the comic and has been developed at the same time as the story was written, it won't spoil anything that isn't published yet. Though some questions about the comic would be availabe once the pages published.</p>
	<p>You can <a href="Azura.nar" download="Azura.nar">download her</a>(if your browser don't download it, right click on the link and choose "Save link as..."). She is in a beta release though so expect some bugs.</p>
</div>
<h3>Azura's menus</h3>
<div>
	<p>Her main menu opens by double clicking on her. It leads to some options and to the other menus and features.<br>
    Her features menus won't change a lot but some options for actions can appear or diseappear depending of your actions or of your relation with her.</p>
  <p>Her settings are in the <span>Config Menu</span> and some useful stuff as information or emptying the recycle bin are in the <span>Functions</span> menu. </p>
</div>
<h3>The music player</h3>
<div>
	<p>Inspired from FLELE's one and using the same plugins, it has a playlist system allowing the user to save their playlists to switch easily from one to an other. The last playlist not saved would be saved in a temporary one, so the user wouldn't lose their playlist if they forget to save it before loading a new one.</p>
	<p>Different playing modes are available and the music player can be controlled with the keyboard. It has a dashboard too, an interface that would make the access to the current playlist easier and is having the classic play/pause, next and previous buttons.</p>
</div>
<h3>The todo lists</h3>
<div>
	<p>Azura is having three different todo lists. She would remind the user at the end of her boot up of the tasks to do and the ones that are late.
	<br>The three lists are a weekly one, a monthy one and one with not constraint. The user can add tasks and remove others in each of those list and will be reminded for the weekly and the monthly lists.</p>
	<p>This feature is unlockable, meaning it won't appear without a certain progress in the relationship.</p>
</div>
<h3>The backup feature</h3>
<div>
	<p>Azura can take care of backups for the user, backing the data up from one place to an other.<br>
    The user picks up a folder to save and an other where to save it. They must choose a way to handle files already existing. Azura can replace them depending on the size or the date of the last modification, she can ask the user to choose too. Azura will put a file with all the settings in the folder to backup.</p>
	<p>When she searches folders to backup, she will in fact search for the file she let in folders to backup. Depending on the user's settings, she can seach in only some paths or in some drives, otherwise she will search in all the drives everywhere. She will freeze the time she is searching so it's hightly recommended to give her a path to search rather than letting her scan a whole drive, scanning a drive takes A LOT of time.<br>
		When Azura is doing a backup, she will freeze too. It's normal but it can take a lot of time for her to backup everything.</p>
	<p>This feature is unlockable too.</p>
</div>

<h3>The AI</h3>
<div>
	<p>The <span>You want to say her something</span> option in the menu. It's the most complex feature in Azura.<br>
    In plus of interacting with Azura, the purpose was to be able to write directly questions by typing them in an input box. It started "simple" but became more and more complex, it has been restructured two times and is still not finished.</p>
  <p>The AI is divised in two part, the understanding part and the responding part.ions in the same sentence to work. Her responses are almost all done, the missing ones are a few and are missing because they would need something that isn't implemented yet. You can have Azura's opinion about some stuff, if she knows them. If she doesn't know them, you can teach her.</p>
  <p>The final goal is making Azura able to have a normal discussion with the user. Though it's long to implement and very complex. For now, the next step to reach is creating some sort of memory for her.</p>
</div>
