<h2>Ghost Jams</h2>
<br/><a class="download" href="https://href.li/?https://cdn.discordapp.com/attachments/428119889107222528/898307268326596638/MTT-Ghost.nar" download="MTT-Ghost.nar" target="_blank">Mettaton's download link</a>
<a class="download" href="http://www.drdowasure.com/ghostjamtemmie/ghostjamtemmie.nar" download="ghostjamtemmie.nar">Temmie's download link</a>
<a class="download" href="/assets/downloads/ghost/Among_Us.nar" download="Among_Us.nar">Among Us download link</a>
<h3>What are they ?</h3>
<div>
	<p>Ghost Jams are events happening once per year on the Ukagaka Dream Team discord server. Developers are creating, in teams, a ghost in a limited time.</p>
  <p>Anyone can participate, even people alone, even if it's harder to finish a ghost alone in a limited time.</p>
	<p>I've participated in a few ghosts jams, creating three ghosts : Mettaton, Temmie and Among Us.</p>
</div>
<h3>Mettaton</h3>
<div>
	<p>We were three in the team, I was with <a href="https://quonit.tumblr.com" target="_blank">Quonit</a> and SirCrashton.</p>
	<p>Mettaton has been made in less time than Temmie and the Among Us ghost, that's why he is having less features. However, he is having Azura's music player and a quiz mode.</p>
  <p>He is having a <a href="https://quonit.tumblr.com/post/665705194456334336/ghost-jam-2018s-metteton-updated-nar-for-the" target="_blank">release post</a> where his nar can be found.</p>
</div>
<h3>Temmie</h3>
<div>
	<p>Our team was constitued of <a href="https://zarla-s.tumblr.com" target="_blank">Zarla</a>, <a href="https://excellynt.tumblr.com" target="_blank">Excel</a>, <a href="https://quonit.tumblr.com" target="_blank">Quonit</a> and me. <a href="https://quonit.tumblr.com" target="_blank">Quonit</a> did the shell, <a href="https://zarla-s.tumblr.com" target="_blank">Zarla</a> wrote the dialogues and <a href="https://excellynt.tumblr.com" target="_blank">Excel</a> and me did the coding.</p>
  <p>Temmie is a character from the game Undertale, she can walk on your desktop and call the whole Temmie village. Once the village has been summoned once, it can be summoned again anytime from the menu. The village includes the Tem shop where you can find tons of very nice stuff to buy. If you found money before, of course.</p>
  <p>Temmie is sometimes updated, mostly by <a href="https://zarla-s.tumblr.com" target="_blank">Zarla</a>, who made a <a href = "http://www.drdowasure.com/temtem/"  target="_blank">wonderful page</a> for her.</p>
</div>
<h3>Among Us</h3>
<div>
	<p>Made by <a href="https://the-multi-themed-scardyfluff.tumblr.com" target="_blank">ScardyFluff</a>, <a href="https://tartagli-ry.tumblr.com" target="_blank">Chrys/Echo</a> and me. <a href="https://the-multi-themed-scardyfluff.tumblr.com" target="_blank">ScardyFluff</a> made the shell, <a href="https://tartagli-ry.tumblr.com" target="_blank">Chrys/Echo</a> did the coding and I wrote the dialogues and drew the balloon.</p>
  <p>The Among Us ghost is a crewmate from the game Among Us. They can be an impostor though. Their color can be changed and there are a few accessories as hats and pets.</p>
  <p>Its balloon is included in the .nar. If it isn't installed automatically, you can move the balloon's folder into SSP balloon directory and restart SSP.</p>
  <p>It's rarely updated but a futur update isn't something impossible. They are having a <a href="https://azura-levidre.tumblr.com/post/649943347158515712/among-us-ghost#notes" target="_blank">release post</a> too.</p>
</div>
