<h2>About Ukagakas</h2>
<h3>What are Ukagakas and their utility ?</h3>
<div>
	<p>Ukagakas, ghosts, in english, are little desktop mascottes. They come from Japan. They can have some features as putting a wallpaper on your computer or emptying the recycle bin.</p>
	<p>Ghosts entertain their user by chatting on their desktop. They can keep people company.</p>
	<p>Though ghosts can do other stuffs depending on the ghost. For example, the FLELE ghost is a music player and a rpg game ghost exists.</p>
</div>
<h3>Installing a ghost</h3>
<div>
	<p>To be able to run a ghost, an ukagaka platform is needed. All are japaneese. The most used platforms are Crow, Materia and SSP and run on Windows. After having installed the platform, you can install the ghost.</p>
	<p>This three platforms can run almost any ghost, though it's not the case of all platforms. A platform for Android exists but is only running ghosts coded in YAYA, Satoriya and Kawari. It can run ghosts coded in AYA since AYA and YAYA are very similar languages but not correctly.</p>
	<p>I only use SSP as most of english programmers so I can only explain how to install SSP and ghosts in it. You can see an explanation <a href="installation-of-ghosts">here</a>.</p>
</div>

<h3>More precisions about ghosts</h3>
<div class="block">
 	<div>
		<p>I'm a one of the developers of the Ukagaka Dream Team, a group of english-speaking developers. Our group has a  <a href="https://ukagakadreamteam.tumblr.com/" target="_blank">tumblr</a> on which links to all our ghosts are available.</p>
		<p>Ukagakas aren't very known worldwild despite being at least 20 years old. It's not something spread outside Japan and we don't currently know any other ukagaka communities beside us. Though our little community is growing up.</p>
		<p>However anyone can start a ghost. <a href="https://zarla-s.tumblr.com/" target="_blank">Zarla</a> did a very nice <a href="http://www.ashido.com/ukagaka/walkthrough.html" target="_blank">tutoriel</a> about how to make one. It's easier than what it seems. There are just a lot of stuffs to do and the complexity depends on what you want to do, so it would be simple if you want to do something simple.</p>
	</div>
  <img class="img" src="/assets/pictures/ukagaka-dream-team.png" alt="The Ukagaka Dream Team logo" title="Ukagaka Dream Team logo" height="275px" width="275px" />
</div>
