<h2>My SAORI</h2>
<div>
	<p>I did three of them for now but one is made specifically for one ghost and cannot really be used by others. The two others are available for use. Everything you need to know to use them is written in their readme.txt. If it's not downloading when you click on the download link, do a right click on it, then "Save link as...".</p>
</div>
<a href="filetransfer.zip" download="filetransfer.zip">download filetransfer.zip</a>
<a href="keydetector.zip" download="keydetector.zip">download keydetector.zip</a>
<h3>File transfer</h3>
<div>
	<p>This SAORI can download or upload a file on a website. It needs the keyword "download" or "upload" followed by the URL (without the protocol, so whithout the http:// or https://) and the local file path. For uploading, keep in mind you need some code to receive and store the file on the website's server.</p>
</div>
<h3>Keyboard detector</h3>
<div>
	<p>It has more features and allow the ghost to wander on the desktop, to be moved with the keyboard and to have keyboard shortcuts more easily.</p>
	<p>The SAORI must be initialized first and is entirely configurable. The keys can be changed, the ghost kept static or wander freely, the speed and time between two times the ghost moves are configurable as well.</p>
	<br/><p>It's possible to give directly a point where to go and the SAORI will make the ghost move to this point.</p>
	<p>It will call Shiori events when moving so the ghost can change its pose : OnMoveRight, OnMoveLeft, OnMoveTop, OnMoveBottom and OnMoveEnd.</p>
</div>
