<h2>Zim and GIR</h2>
<a class="download" href="/assets/downloads/Invader_Zim.nar" download="Invader_Zim.nar">Zim and GIR download link</a>
<h3>Overview</h3>
<div class="block">
  <div>
    <p>Zim and GIR are a pretty classic ukagaka, they're on your desktop to entertain you. Therefor they will talk to each other and to you.</p>
    <p>Since they are very expressive characters, they have a fairly animated shell with different poses and expressions for them to not be static.</p>
  </div>
  <img class = "img" src="/assets/pictures/Zim_and_Gir.png" alt="Picture of Zim and Gir" title="Zim_and_Gir" height="416px" width="435px" />
</div>
<h3>Interactions</h3>
<div>
  <p>For the hitboxes, both can be pet or punched. For petting, keep in mind that antennas are a sensitive zone.</p>
  <p>You can ask them questions, or do other things like giving them presents, complimenting them or insulting them. Both can react differently to the same action.</p>
  <p>They have a relationship system, what means things can be unlocked and dialogues and options can change depending on how you behave with them. It can be reset at any time in their Functions menu.</p>
</div>
<h3>Their features</h3>
<div>
  <p>As a lot of ghosts, they can set your desktop wallpaper, check your emails, open the calendar and empty your recycle bin. With more or less enthusiasm. They can display various information too.</p>
  <p>They are updatable, so don't hesitate to check if there is an update. It's generally adding new content or fixing some bugs.</p>
</div>
