<h2>Zim and GIR</h2>
<br/><a class="download" href="/assets/downloads/ghost/Invader_Zim.nar" download="Invader_Zim.nar">Zim and GIR download link</a>
<a class="download" href="/assets/downloads/balloon/irken_balloon.zip" download="irken_balloon.zip">Normal invader balloon download link</a>
<a class="download" href="/assets/downloads/balloon/irken_balloon_simplified.zip" download="irken_balloon_simplified.zip">Simplified invader balloon download link</a>
<h3>Overview</h3>
<div class="block">
  <div>
    <p>Zim and GIR are a pretty classic ukagaka, they're on your desktop to entertain you. Therefor they will talk to each other and to you.</p>
    <p>They have some options, gifts that can be given to them and actions done. They are pettable and punchable and are having a relationship system. Because they consider you as a human, they are gonna to try to look human to you.</p>
    <p>Since they are very expressive characters, they have a fairly animated shell with different poses and expressions for them to not be static.</p><br/>
    <p>They're having a balloon that should install itself when they are. It's using the Invader and the Irken fonts. For the Irken talks to be enabled, the Irken font must be installed, so users are asked for the Irken font installation during the first boot.</p>
    <p>Since the Invader font isn't the most readable font ever and the balloon itself is having a big border, there is an other balloon for them with an easier to read font and overall simplified.</p><br/>
    <p>If the simplified balloon is installed, the user is gonna be asked if they want to switch to it during the first boot.</p>
  </div>
  <img class = "img" src="/assets/pictures/Zim_and_Gir.png" alt="Picture of Zim and Gir" title="Zim_and_Gir" height="416px" width="435px" />
</div>
<h3>Interactions</h3>
<div>
  <p>For the hitboxes, both can be pet or punched. For petting, keep in mind that antennas are a sensitive zone.</p>
  <p>You can ask them questions, or do other things like giving them presents, complimenting them or insulting them. Both can react differently to the same action.</p>
  <p>Because they have a relationship system, things can be unlocked and dialogues and options can change depending on how you behave with them. It can be reset at any time in their Functions menu.</p>
</div>
<h3>Their features</h3>
<div>
  <p>As a lot of ghosts, they can set your desktop wallpaper, check your emails, open the calendar and empty your recycle bin. With more or less enthusiasm. They can display various information too.</p>
  <p>They are updatable, so don't hesitate to check if there is an update. It's generally adding new content or fixing some bugs.</p>
  <p>Since they concentrate mainly on dialogues and interactions with the user, so mainly on content, they don't have a lot of other features.</p>
</div>
