<h2>About Levidre</h2>
<h3>Who is Levidre ?</h3>
<div class="block">
	<div>
		<p>The conceptor of this site. Let me introduce myself.</p>
		<p>My full pseudonym is Azura Levidre, but people call me Levidre because of Azura. I'm Azura's developer, I gave her my first nickname to keep the second one for me.<br>My pronouns are she/her/her. I will express myself at the first person on this site.</p>
	</div>
  <img class="img" src="/assets/pictures/Levidre.png" alt="Levidre's avatar" title="Levidre's avatar" height="275px" width="275px" />
</div>
<h3>What is her relation with Azura ?</h3>
<div>
	<p>Azura is a second me. Her personnality is based on mine.</p>
	<p>I started the comic Azurtale. It's the story of Azura, her journey in the Underground. But I'm slow at writting it.</p>
</div>
<h3>What does she do ?</h3>
<div>
	<p>In plus of coding Azura, I draw and post some of my drawings on tumblr (<a href="https://azura-levidre.tumblr.com/" target="_blank" >here</a>).</p>
</div>
