
<header>
	<nav>
		<a href="/">Home</a>
		<a href="azura">Azura</a>
		<a href="levidre">Levidre</a>
		<div class="dropdown">
			<button class="dropbtn">Ukagakas</button>
			<div class="dropdown-content">
				<a href="ukagaka">About Ukagakas</a>
				<a href="installation-of-ghosts">Installation</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">SAORI</button>
			<div class="dropdown-content">
				<a href="saori">About SAORI</a>
				<a href="saori/saori-creation">Creating One</a>
				<a href="saori/my-saori">Levidre's SAORI</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">Updates</button>
			<div class="dropdown-content">
				<a href="update">About Updates</a>
				<a href="update/update-history">Update History</a>
			</div>
		</div>
	</nav>
</header>
