<h2>About Updates</h2>
<h3>Azura's update system</h3>
<div>
	<p>You can update Azura by pushing Ctrl+U or going in her right click menu if you're on SSP.
	<br>She would tell it when there is an update at the end of her booting dialogue.</p>
	<p>Each update, Azura has a notice with all the changes brought by it. This notice opens after the update but is accessible in her Functions menu too, so you can always check it.</p>
</div>
<h3>Last update</h3>
<div>
	<p>It was just a bugfix one.</p>
</div>
<h3>Previous updates</h3>
<div>
	<p>It was mostly new dialogues and something to keep them from repeating themselves twice in a row.</p>
</div>
