<h2>About Updates</h2>
<h3>My ghosts' update system</h3>
<div>
	<p>You can update any ghost by pushing Ctrl+U or going in its right click menu if you're on SSP.
	<br>Azura would tell when there is an update at the end of her booting dialogue.</p>
	<p>Each update, Azura and Zim and GIR are having a notice with all the changes brought by it. This notice opens after the update but is accessible in their Functions menu too, so you can always check it.</p>
  <p>Keep in mind that I'm as regular in the updates as I am with Azurtale. So not consistent at all. There could be two small updates in the span of two weeks or one huge update after three months.</p>
</div>
<h3>Last updates</h3>
<div>
	<p>Azura and Zim and GIR last updates were bugfix ones.</p>
</div>
<h3>Futur updates</h3>
<div>
  <p>Azura is having big updates regularly (count a month between two updates). A lot of stuff aren't finished in her, as a new version of her AI, and she is still not having enough dialogues.</p>
  <p>Zim and GIR aren't gonna have huge updates as Azura is having. They are supposed to be finished, so new updates are gonna focus on adding a few dialogues or solving bugs, unless I choose to add new features or new options.</p>
</div>
