<h2>Updates History</h2>
<h3>The previous updates</h3>
<div>
	<p>Here are all the previous update notices. Since I do one new notice per update, you would be able to take track of all the updates I did.</p>
</div>
<h3>The notices list</h3>
<div>
	<p>Let's see the list (the top one is the more recent) :</p>

  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs" [selectedIndex]="0" (selectedTabChange)="handleTabChange($event)">
    <mat-tab label="Azura">
      <ul>
        <li *ngFor="let notice of this.azuraNotices.currentPage" [innerHTML]="notice"></li>

        <mat-paginator (page)="handlePageChange($event)"
          [length]="azuraNotices.notices.length"
          [pageSize]="azuraNotices.size"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page">

        </mat-paginator>
      </ul>
    </mat-tab>
    <mat-tab label="Zim and GIR">
        <ul>
          <li *ngFor="let notice of this.zimNotices.currentPage" [innerHTML]="notice"></li>

          <mat-paginator (page)="handlePageChange($event)"
            [length]="zimNotices.notices.length"
            [pageSize]="zimNotices.size"
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page">
          </mat-paginator>
        </ul>
    </mat-tab>
  </mat-tab-group>

</div>

